# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.gz

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Project
.env