NODE_ENV=<environment>
PORT=<port>
MONGO_URI=<mongo_uri>
SALT_ROUNDS=<salt_rounds>
JWT_SECRET=<jwt_secret>
AWS_ACCESS_KEY=<aws_access_key>
AWS_SECRET_KEY=<aws_secret_key>
AWS_BUCKET_NAME=<aws_bucket_name>
AWS_UPLOAD=<aws_upload>
GRAVATAR_URL=<gravatar_url>
GRAVATAR_HEX_PATTERN=<gravatar_hex_pattern>
GRAVATAR_DEFAULT=<gravatar_default>